body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #501214;
  text-align: center;
  font-size: 30px;
  width: 100vw;
  height: 100px;
}

#col_container {
  position: absolute;
  top: 100px;
  left: 230px;
  width: calc(100vw - 230px);
  height: calc(100vh - 100px);
  padding: 0;
  margin: 0;
  overflow: hidden;
}


.column {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 33%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.column2 {
  bottom: 40px;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  width: 33%;
  height: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
}

#info1 {
  position: absolute;
  bottom: 40px;
  height: 50px;
  font-size: 25px;
  left: 0px;
  margin: 0;
  padding: 0;
}
#info2 {
  position: absolute;
  bottom: 40px;
  height: 50px;
  font-size: 25px;
  left: 50%;
  margin: 0;
  padding: 0;
}
#info3 {
  position: absolute;
  bottom: 40px;
  height: 50px;
  font-size: 25px;
  right: 50px;
  margin: 0;
  padding: 0;
}

.sidenav {
  height: calc(100vh - 100px);
  width: 230px;
  position: absolute;
  top: 100px;
  z-index: 1;
  left: 0;
  background-color: #501214;
  overflow-x: hidden;
}

.sidenav a {
  text-decoration: none;
  font-size: 40px;
  color: #f7f7f7;
  display: block;
}

.sidenav a:hover {
  color: #8d734a;
}
