body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
  }
  body {
    background-color: #501214;
    color: #0571b0;
    text-align: center;
  }
  #Header {
    background-color: #0571b0;
  }
  h1{
    padding: 5px;
    margin: 0;
  }
  h1{
    color: #8d734a;
  }
  #body-container {
    background-color: f7f7f7;
    max-width: 1000px;
    margin: auto;
      border: 2px solid #f7f7f7;
    border-radius: 25px;
    overflow: hidden;
  }
  body {
    background-color: #92c5de
    color: #0571b0
    text-align: center;
    margin: 0;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    right: 0px;
    top: 0px;
    z-index: 1;
  }

  .dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
